* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ol {
  list-style: none;
}

body {
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: #F1F1F1;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

._no-scroll {
  overflow: hidden;
}

.header {
  padding-top: 46px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list-wrap {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header__list-wrap.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.header__link {
  color: black;
  font-weight: 500;
}

.header__link.active {
  color: #606060;
}

.header__burger {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.header__line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 1px;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.header__burger::before, .header__burger::after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.active .header__line {
  opacity: 0;
}

.header__burger.active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger.active::after {
  top: 50%;
  bottom: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.introducing {
  padding-top: 76px;
}

.introducing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introducing__text {
  max-width: 500px;
}

.introducing__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  margin-bottom: 20px;
}

.introducing__about {
  font-weight: 400;
  line-height: 28px;
}

.introducing__image img {
  width: 100%;
}

.skills {
  background-color: white;
  padding: 90px 0;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.skills__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.skills__image {
  margin-bottom: 30px;
}

.skills__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
}

.skills__about {
  line-height: 28px;
  font-weight: 400;
}

.portfolio {
  padding: 90px 0;
  text-align: center;
}

.portfolio__element:not(:last-child) {
  margin-bottom: 90px;
}

.portfolio__title {
  line-height: 51px;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 70px;
}

.portfolio__image {
  margin-bottom: 40px;
}

.portfolio__image img {
  width: 100%;
}

.portfolio__text {
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  position: relative;
}

.portfolio__text::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.footer {
  padding: 90px 0;
  background-color: white;
  text-align: center;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 40px;
}

.footer__subtitle {
  font-size: 18px;
  line-height: 27px;
  max-width: 296px;
  margin-bottom: 40px;
}

.footer__send {
  color: white;
  background-color: #070707;
  padding: 7px 23px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 80px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.footer__send:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 61px;
          column-gap: 61px;
  margin-bottom: 40px;
}

.footer__text {
  color: #828282;
  line-height: 21px;
}

/*--------- media -------------*/
@media (max-width: 920px) {
  .introducing__text {
    max-width: 460px;
  }
  .introducing__title {
    font-size: 35px;
    line-height: 50px;
  }
  .introducing__image img {
    width: 95%;
  }
  .skills {
    padding: 70px 0;
  }
  .skills__name {
    font-size: 22px;
  }
  .skills__about {
    line-height: 22px;
  }
  .skills__image {
    width: 55px;
    height: 55px;
  }
  .portfolio {
    padding: 70px 0;
  }
  .portfolio__title {
    margin-bottom: 70px;
    font-size: 32px;
  }
  .footer {
    padding: 70px 0;
  }
}

@media (max-width: 780px) {
  .introducing__title {
    font-size: 35px;
    line-height: 45px;
  }
  .introducing__text {
    max-width: 425px;
  }
  .skills__name {
    font-size: 20px;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
  }
  .header__list-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: block;
  }
}

@media (max-width: 693px) {
  .skills__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 25px;
  }
  .skills__image {
    margin-bottom: 15px;
  }
  .skills__name {
    line-height: 32px;
  }
  .introducing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introducing__title {
    font-size: 30px;
  }
  .introducing__text {
    margin-bottom: 20px;
    max-width: 90%;
  }
  .introducing__image {
    text-align: center;
  }
  .introducing__image img {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
  }
  .footer__list {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .footer__title {
    margin-bottom: 30px;
  }
  .footer__text {
    margin-bottom: 30px;
  }
  .footer__send {
    margin-bottom: 50px;
  }
  .introducing {
    padding-top: 45px;
  }
  .introducing__title {
    font-size: 25px;
  }
  .portfolio {
    padding: 50px 0;
  }
  .portfolio__title {
    margin-bottom: 50px;
  }
  .portfolio__element:not(:last-child) {
    margin-bottom: 50px;
  }
  .portfolio__image {
    margin-bottom: 30px;
  }
  .portfolio__text {
    font-size: 16px;
    line-height: 22px;
  }
  .skills {
    padding: 50px 0;
  }
}
